version: '3'
services:

  # 元数据库：pg
  postgres_airflow:
    image: postgres:13
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
    container_name: postgres_airflow
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    ports:
      - "5432:5432"
    volumes:
      - ./pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

  # Airflow
  airflow:
    build: .  
    command: bash -c "airflow db migrate && (airflow scheduler & airflow webserver)"
    environment:
      - TZ=${SITE_TIMEZONE}  #挂载宿主机时间
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres_airflow:5432/airflow
      - AIRFLOW__CORE__LOAD_EXAMPLES=false

            #  【注入管理员账号变量】
      - _AIRFLOW_WWW_USER_CREATE=true
      - _AIRFLOW_WWW_USER_USERNAME=${AIRFLOW_ADMIN_USER}
      - _AIRFLOW_WWW_USER_PASSWORD=${AIRFLOW_ADMIN_PASSWORD}
      - _AIRFLOW_WWW_USER_ROLE=Admin
      - _AIRFLOW_WWW_USER_EMAIL=${AIRFLOW_ADMIN_EMAIL}

            # 【注入普通变量】
      - SITE_TIMEZONE=${SITE_TIMEZONE}
      - ALERT_EMAIL_TO=${ALERT_EMAIL_TO}
      - THRESHOLD_TIME_DIFF=${THRESHOLD_TIME_DIFF}
      - BATCH_SIZE=${BATCH_SIZE}

            # 【注入SMTP配置】
      - AIRFLOW__SMTP__SMTP_HOST=${SMTP_HOST}
      - AIRFLOW__SMTP__SMTP_PORT=${SMTP_PORT}
      - AIRFLOW__SMTP__SMTP_SSL=True
      - AIRFLOW__SMTP__SMTP_STARTTLS=False     
      - AIRFLOW__SMTP__SMTP_USER=${SMTP_USER}
      - AIRFLOW__SMTP__SMTP_PASSWORD=${SMTP_PASSWORD}
      - AIRFLOW__SMTP__SMTP_MAIL_FROM=${SMTP_MAIL_FROM}

           #  【注入数据库连接配置】
      - AIRFLOW_CONN_NGEN_MYSQL_CONN=mysql://${NGEN_USER}:${NGEN_PASSWORD}@${NGEN_HOST}:${NGEN_PORT}/${NGEN_DB_NAME}
      - AIRFLOW_CONN_CACTUS_MYSQL_CONN=mysql://${CACTUS_USER}:${CACTUS_PASSWORD}@${CACTUS_HOST}:${CACTUS_PORT}/${CACTUS_DB_NAME}

    volumes:
      # - /etc/localtime:/etc/localtime:ro 
      # - /etc/timezone:/etc/timezone:ro
      # Mount repo-level folders so existing DAGs/configs are visible
      - ../dags:/opt/airflow/dags
      - ../plugins:/opt/airflow/plugins
      - ../incoming_files:/opt/airflow/incoming_files
      - ../data:/opt/airflow/data
      - ../config:/opt/airflow/config
    ports:
      - "8081:8080" 
    depends_on:
      postgres_airflow:
        condition: service_healthy
    restart: always
    deploy:
      resources:
        limits:
          memory: 4G

